@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    background: grey url(images/background2.jpeg) repeat scroll top left; 
    background-size: cover;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-flow: column;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    padding-left: 16px;
}

.links-right {
    display: flex;
   
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 16px;
    gap: 16px;
}


